*{
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.page{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 70px 1rf 1fr 70px;
    grid-template-areas: 
    "logo logo nav nav nav nav nav nav nav nav"
    "cont cont cont cont cont cont cont cont side side"
	"gridSection gridSection gridSection gridSection gridSection gridSection gridSection gridSection gridSection gridSection"
    "foot foot foot foot foot foot foot foot foot foot";
}
/* logo  */
h2{
    grid-area: logo;
    background-color: #383b35;
    padding: 10px;
    text-align: center;
	color: #fff;
	letter-spacing: 2px;
}

/* nav  */
nav{
    grid-area: nav;
	display: grid;
	grid-template-columns: repeat(2, 1fr) ;
    background-color: #383b35;;
	color: #fff;	
}
ul{ 
	list-style: none;
	grid-column: 2;
	display: flex;
	justify-content: end;
	margin-right: 20px;
}
li{
    display: inline-block; 
    margin-right:15px ;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
/* section */
section{
    grid-area: cont;
	position: relative;
}
section .image-grid{
    position: relative;
    padding: 20px;
	
}
section .image-grid h1{
    text-align: center;
    padding: 10px;
	margin:0 300px 20px;
	border-bottom: 3px solid #333;
}
span{
	font-weight: bolder; 
	color: #e983d8; 
	font-family: tahoma;
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	letter-spacing: 4px;
}
section .image-grid .img{
    display: grid;
	grid-template-columns: repeat(auto-fit,minmax(80px,auto));
    grid-auto-flow: dense;
	grid-gap: 10px;
    height: 825px;
    position: relative;
	
}
section .image-grid img{
	width: 100%;
	object-fit: cover;
    box-shadow: 4px 5px 3px #444;
    
}
section .image-grid img:hover{
	filter: opacity(.6);
	transition: .2s;
	cursor: pointer;
}
.child{
	grid-column-start: 3; 
	grid-column-end: 5;
	grid-row-start: 2;
	z-index: 3;
}
.mg{opacity: 0;}
.child img{
	width: 100%;
	object-fit: cover;
    box-shadow: 4px 5px 3px #444;
}
.child1{
	grid-column-start: 3; 
	grid-column-end: 5;
	grid-row-start: 2;
	z-index: 2;
}
.child1 img{
	width: 100%;
	object-fit: cover;
    box-shadow: 4px 5px 3px #444;
	
}

section .image-grid img:nth-child(1){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(2){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(3){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(4){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(5){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(6){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(7){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(8){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(9){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(10){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(11){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(12){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(13){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(14){
	grid-row: span 0 1;
	grid-column: span 2;
}
section .image-grid img:nth-child(15){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(16){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(17){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(18){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(19){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(20){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(21){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(22){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(23){
	grid-row: span 0;
	grid-column: span 2;
}
section .image-grid img:nth-child(24){
	grid-row: span 0;
	grid-column: span 2;
}
/* aside */
aside{
    grid-area: side;
    background-color: rgb(132, 132, 218);
}
p{
	background-color: #ddd;
	border: 1px solid #000;
	margin: 30px 5px;
}
/* section 2 */
.grid-section{
	grid-area: gridSection;
	background-color: #07f;
}
.grid-section .item1{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 50px);
	grid-gap: 15px;
	padding: 15px;
	margin-bottom: 50px;
	border: 2px solid #000;
}
.grid-section .item1 div{
	background-color: #444;
	border: 2px solid #f00;
}
.grid-section .item1 .ab{
	grid-column-start: 2;
	grid-row-start: 2;
	background-color: #fac;
}
/* --------------------------- */
.grid-section .item2{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 50px);
	border: 2px solid #000;
	margin-bottom: 50px;
}
.grid-section .item2 div{
	border: 2px solid rgb(0, 255, 64);
	position: relative;
	width: 100%;
}
.grid-section .item2 div:hover{
	opacity: .5;
}
.grid-section .item2 div:nth-child(1){
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 2;
	background-color: #000;
	z-index: 90;
}
.grid-section .item2 div:nth-child(2){
	grid-column-start: 3;
	grid-column-end:span 1;
	grid-row-start: 1;
	grid-row-end: span 4;
	background-color: #addd29;
	z-index: 2;
}
.grid-section .item2 div:nth-child(3){
	grid-column-start: 4;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 1;
	background-color: #e62f2f;
	z-index: 1;
}
.grid-section .item2 div:nth-child(4){
	grid-column-start: 6;
	grid-column-end: span 4;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: #18e718;
	z-index: 0;
}
.grid-section .item2 div:nth-child(5){
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: span 3;
	background-color: rgb(219, 95, 12);
	z-index: 4;
}
.grid-section .item2 div:nth-child(6){
	grid-column-start: 4;
	grid-column-end: span 3;
	grid-row-start: 2;
	grid-row-end: span 3;
	background-color: #58143e;
	z-index: 5;
}
.grid-section .item2 div:nth-child(7){
	grid-column-start: 7;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end: span 1;
	background-color: #e62f2f;
	z-index: 1;
}
.grid-section .item2 div:nth-child(8){
	grid-column-start: 8;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 2;
	background-color: #18e718;
	z-index: 0;
}
.grid-section .item2 div:nth-child(9){
	grid-column-start: 1;
	grid-column-end: span 5;
	grid-row-start: 5;
	grid-row-end: span 2;
	background-color: rgb(219, 95, 12);
	z-index: 4;
	border-radius: 50%;
}
.grid-section .item2 div:nth-child(10){
	grid-column-start: 6;
	grid-column-end: span 3;
	grid-row-start: 4;
	grid-row-end: span 3;
	background-color: #18e718;
	z-index: 0;
}
.grid-section .item2 div:nth-child(11){
	grid-column-start: 8;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: span 2;
	background-color: rgb(219, 95, 12);
	z-index: 4;
	border-radius: 50%;
}
/* ------------------*/
.grid-section .item3{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: 50px;
}
.grid-section .item3 ul{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	padding: 10px;
}
.grid-section .item3 ul li{
	margin: 0;
	padding: 0px;
	box-shadow: 3px 3px 3px #444;
}
.grid-section .item3 li img{
	width: 100%;
	height: 100%
}
.grid-section .item3 img:hover{
	opacity: .0;
}
.grid-section .item3 li:nth-child(1){
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
}
.grid-section .item3 li:nth-child(2){
	grid-column-start: 3;
	grid-column-end:span 2;
	grid-row-start: 1;
	grid-row-end: span 1;
}
.grid-section .item3 li:nth-child(3){
	grid-column-start: 5;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 1;
}
.grid-section .item3 li:nth-child(4){
	grid-column-start: 7;
	grid-column-end: span 3;
	grid-row-start: 1;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(5){
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: span 3;
}
.grid-section .item3 li:nth-child(6){
	grid-column-start: 3;
	grid-column-end: span 4;
	grid-row-start: 2;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(7){
	grid-column-start: 7;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(8){
	grid-column-start: 8;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(9){
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(10){
	grid-column-start: 5;
	grid-column-end: span 2;
	grid-row-start: 4;
	grid-row-end: span 3;
}
.grid-section .item3 li:nth-child(11){
	grid-column-start: 7;
	grid-column-end: span 3;
	grid-row-start: 5;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(12){
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 4;
	grid-row-end: span 1;
}
.grid-section .item3 li:nth-child(13){
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
}
.grid-section .item3 li:nth-child(14){
	grid-column: 3 / span 2;
	grid-row: 1 / span 1;
}
.grid-section .item3 li:nth-child(15){
	grid-column-start: 5;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 1;
}
.grid-section .item3 li:nth-child(16){
	grid-column-start: 7;
	grid-column-end: span 3;
	grid-row-start: 1;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(17){
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: span 3;
}
.grid-section .item3 li:nth-child(18){
	grid-column-start: 3;
	grid-column-end: span 4;
	grid-row-start: 2;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(19){
	grid-column-start: 7;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(20){
	grid-column-start: 8;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(21){
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: span 2;
}
.grid-section .item3 li:nth-child(22){
	grid-column: 5 / span 2;
	grid-row: 4 / span 3;
}
.grid-section .item3 li:nth-child(23){
	grid-column: 7 / span 3;
	grid-row: 5 / span 2;
}
.grid-section .item3 li:nth-child(24){
	grid-column: 3 / span 2;
	grid-row: 4 / span 1;
}
/*  footer */
footer{
    grid-area: foot;
    background-color: rgb(39, 44, 44);
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding: 10px;
}
